* {
    box-sizing: border-box;
}

body {
    font-family: Lato;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;

    font-size: 15px;
    font-family: Lato;
    line-height: 1.5;

    vertical-align: top;
    backface-visibility: hidden;
    overflow-x: hidden;
}

.wrap-main {
    width: 100%;
    position: relative;
    min-width: 320px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 24px;
}

.container {
    position: relative;
    min-width: 320px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 40px;
}

.text-md {
    font-size: 18px;
}

.link {
    color: #000;
    text-decoration: none;
}

.title {
    text-transform: uppercase;
    font-size: 32px;
}

.smooth-underline {
    background: linear-gradient(180deg, #000 0, #000) 0 100% no-repeat;
    background-size: 0 2px;
    transition: all 500ms;
}

.smooth-underline:hover {
    background-size: 100% 2px;
}

svg {
    padding: 0;
    overflow: visible;
}

svg + svg {
    margin-left: 48px;
}

.custom-scrollbar-example {
font-size: 15px;
display: flex;
flex-wrap: wrap;
}

.custom-scrollbar-example__block {
    max-width: 292px;
    height: 400px;
    padding: 16px;
    margin-right: 48px;
    background: skyblue;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #8080809c;
    color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    color: rgba(0,0,0,0);
    transition: color .5s ease-out;
    transition: color .3s ease;
}
.custom-scrollbar-example__block--type-2 {
background: #eb87a5;
    transition: color .5s ease-out;
}

.custom-scrollbar-example__block:not(.custom-scrollbar-example__block--type-2):hover {
    color: rgba(255,255,255,1);
    transition: color .3s ease;
}

.custom-scrollbar-example__block::-webkit-scrollbar,
.custom-scrollbar-example__block::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 4px;
    background-clip: padding-box;
}

.custom-scrollbar-example__block::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}

.custom-scrollbar-example__block--type-2.is-scrolling {
    color: rgba(255,255,255,1);
    transition: color .3s ease;
}
